<!-- CARRUSEL -->

<div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
    <div uib-slide ng-repeat="slide in slides track by slide.link" index="$index">
        <img ng-src="http://localhost/SPORT_V1.7/{{slide.link}}" style="margin:auto;">
        <div class="carousel-caption">
            <h4>{{slide.categoria}}</h4>
        </div>
    </div>
</div>



<!-- //CARRUSEL -->

<!--CATEGORIES -->
<p> </p>
<section class="about py-md-5 py-5">

    <!-- LISTA CATEGORIAS -->
    <section class="about py-5">
        <div class="container pb-lg-3">
            <h3 class="tittle text-center" data-tr="PRODUCTOS PARA TI">PRODUCTOS PARA TI</h3>
            <div class="row">
                <div id="products"></div>
            </div>
        </div>

        <section class="about py-5">
            <!-- //CATEGORIES -->
            <!--FEATURED PRODUCTS-->
            <section class="about py-5">
                <div class="container pb-lg-3">
                    <h3 class="tittle text-center" data-tr="LIBROS RELACIONADOS CON LA MODA">LIBROS RELACIONADOS CON LA
                        MODA</h3>
                    <div class="row">
                        <div id="featured"></div>
                        <div id="btnfeatured"></div>
                        <div id="nomore"></div>
                    </div>
                </div>
            </section>
        </section>
    </section>
</section>


<!-- //FEATURED PRODUCTS-->