<!-- CARRUSEL -->
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" >
        <div uib-slide ng-repeat="slide in slides track by slide.link" index="$index">
            <img ng-src="http://localhost/SPORT_V1.7/{{slide.link}}" style="margin:auto;">
            <div class="carousel-caption">
                <h4>{{slide.categoria}}</h4>
            </div>
        </div>
    </div>
<!-- //CARRUSEL -->

<!--CATEGORIES -->
<br><br>
<section class="about py-md-5 py-5">
    <!-- LISTA CATEGORIAS -->
    <div class="w3-container w3-padding-32" id="projects">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16 text-center">PRODUCTOS PARA TI</h3>
    </div>
    <div class="w3-row-padding">
        <div class="w3-col l3 m6 w3-margin-bottom" ng-repeat="data in prods">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">{{data.categoria}}</div>
                <img ng-src="http://localhost/SPORT_V1.7/{{data.imagen}}" alt="House" style="width:100%">
            </div>
        </div>
    </div>
    <div class="loadMore" id="click_scroll" ng-click="loadmore()"><a>Load More</a></div>
</section>


