<section class="ab-info-main py-md-5 py-4">
    <div class="container py-md-3">
        <!-- top Products -->
        <div class="row">
            <!-- product left -->
            <div class="side-bar col-lg-4">


                <!--DETAILS GMAPS-->
                <div class="left-side my-4">
                    <div id="textarea">
                        <h4 class="mb-2"><span class="fa fa-map-marker" aria-hidden="true" data-tr="VISTA EN MAPA">VISTA
                                EN MAPA</span>
                        </h4>
                    </div>
                    <div id="mapdetails"></div>
                </div>
                <!-- //DETAILS GMAPS-->
                <!-- SEARCH -->

                <div id="search">

                    <div class="search-bar w3layouts-newsletter">

                        <h3 class="sear-head">Search Here..</h3>
                        <a>
                            <input type="text" ng-model="selectProds" class="input-medium search-query"
                            uib-typeahead="data as data.products for data in products | filter:{products:$viewValue} |  limitTo:4"
		                    uib-typeahead-min-length='1' 
                                placeholder="Nike,Adidas...">
                        </a>
                        <button class="btn1" type="submit" ng-click="search()"><span class="fa fa-search"
                                aria-hidden="true"></span></button>
                    </div>
                </div>

                <div id="emptyfilters">
                    <!--preference -->
                    <div class="left-side my-4">
                        <h3 class="sear-head" data-tr="Categorias"></h3>
                        <ul class="w3layouts-box-list">
                            <li>
                                <input type="checkbox" id="camisetas" class="checked">
                                <span class="span" data-tr="CAMISETAS">CAMISETAS</span>
                            </li>
                            <li>
                                <input type="checkbox" id="sudaderas" class="checked">
                                <span class="span" data-tr="SUDADERAS">SUDADERAS</span>
                            </li>
                            <li>
                                <input type="checkbox" id="calzado" class="checked">
                                <span class="span" data-tr="CALZADO">CALZADO</span>
                            </li>
                            <li>
                                <input type="checkbox" id="chandal" class="checked">
                                <span class="span" data-tr="CHANDALS">CHANDALS</span>

                            </li>
                        </ul>
                    </div>
                    <!-- // preference -->
                    <!-- discounts -->
                    <div class="left-side">
                        <h3 class="sear-head" data-tr="Rango de Precios">Rango de Precios</h3>
                        <ul class="w3layouts-box-list">
                            <li>
                                <input type="checkbox" id="050" class="checked">
                                <span class="span">0 - 50 </span>
                            </li>
                            <li>
                                <input type="checkbox" id="508" class="checked">
                                <span class="span"> 50 - 80 </span>
                            </li>
                            <li>
                                <input type="checkbox" id="8012" class="checked">
                                <span class="span">80 - 120 </span>
                            </li>
                            <li>
                                <input type="checkbox" id="12020" class="checked">
                                <span class="span">120 - 200 </span>
                            </li>
                        </ul>
                    </div>
                    <!-- //reviews -->
                    <!-- //LISTA DE FAVORITOS -->
                    <div class="left-side">
                        <h3 class="sear-head" data-tr="TUS PRODUCTOS FAVORITOS">TUS PRODUCTOS FAVORITOS</h3>
                        <ul class="w3layouts-box-list">
                            <li>
                                <input type="checkbox" id="like" class="checked">
                                <span class="span">FAVORITOS</span>
                            </li>

                        </ul>
                    </div>
                    <!-- //LISTA DE FAVORITOS -->

                </div>

            </div> <!-- //emptyfilters -->

            <!-- //product left -->
            <!-- product right -->
            <div class="w3-col l3 s6" ng-repeat="data in products" ng-show="allprod"> 
                <a class="inner" href="#/tienda/{{data.idprod}}">
                    <div class="w3-container">
                        <div class="w3-display-container">
                            <img ng-src="http://localhost/SPORT_V1.7/{{data.imagen}}" style="width:100%">
                            <span class="w3-tag w3-display-topleft">New</span>
                            <div class="w3-display-middle w3-display-hover">
                                <button class="w3-button">Buy now <i class="fa fa-shopping-cart"></i></button>
                            </div>
                          
                        </div>
                        <p>{{data.nombre}}<br><b>{{data.precio}}€</b></p>
                    </div>
                </a>
            </div>
            <!--for one in search-->
            <div class="w3-col l3 s6" ng-show="OneSearch" >
                <a class="inner" href="#/tienda/{{data.idprod}}">
                    <div class="w3-container">
                        <div class="w3-display-container">
                            <img ng-src="http://localhost/SPORT_V1.7/{{data.imagen}}" style="width:100%">
                            <span class="w3-tag w3-display-topleft">New</span>
                            <div class="w3-display-middle w3-display-hover">
                                <button class="w3-button">Buy now <i class="fa fa-shopping-cart"></i></button>
                            </div>
                        </div>
                        <p>{{data.nombre}}<br><b>{{data.precio}}€</b></p>
                    </div>
                </a>
            </div>
            <!--//FOR ONE IN SEARCH-->
        </div>
    </div>
</section>

</div>

</div>
</div>


</div>
</section>





</div>
</div>
</section>
<!-- //product right -->
</div>
</div>

<div id="pags" ng-show="pages">
    <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"
        previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page="itemsPerPage"></ul>
</div>
</section>