<!-- mian-content -->
<div id="home">
  <!-- header -->
  <header class="header">

    <div class="w3-top">
      <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="#/" class="w3-bar-item w3-button"><b>MASTERSPORT</b></a>
        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
          <a href="#/" class="w3-bar-item w3-button">HOME</a>
          <a href="#/tienda" class="w3-bar-item w3-button">SHOP</a>
          <!--AQUI IRAN LAS OPCINES DE EL CRUD DE USUARIOS Y EL ORDER DE LOS FAVS USERS-->
          <a href="#/contact" class="w3-bar-item w3-button">CONTACT</a>
          <a id="login_register" type="button" class="btn btn-success" href="#/"><i class="fa fa-shopping-cart"></i></a>
          <a id="login_register" type="button" class="btn btn-danger" href="#/login">LOGIN</a>
            <!--PONER EL BOTON DE LOGOUT-->
          <a>
            <input type="text" ng-model="keywords" class="input-medium search-query" placeholder="Buscar en Mastersport...">
            <!-- <button  class="btn" ng-click="search()">Search</button> -->
            <button class="btn1" type="submit"  ng-click="search()"><span class="fa fa-search" aria-hidden="true"></span></button>
          </a>
        </div>
      </div>
    </div>
    </div>


    <!--SEARCH-->
    <!-- 
    <ol class="breadcrumb2">

      <form class="search">


        <select id="talla">
          <option value="0" data-tr="Selecciona La Talla"></option>
        </select>


        <select id="marca">
          <option value="0" data-tr="Selecciona La Marca"></option>
        </select>


        <section class="prod">
          <input list="name" id="prod" name="prod" />
          <datalist id="name">
          </datalist>
          <div class="btn"><span id="searchlist" class="fa fa-search" aria-hidden="true"></span></div>
        </section> -->



    <!-- <button class="btn"><span class="fa fa-search" aria-hidden="true"></span></button> -->
    <!--<button class="btn">BUSCAR</button>-->
    <!-- </form>
    </ol> -->
    <!--//SEARCH -->
  </header>


</div>